<div class="big-container manage-products-wrapper">
  <h3 class="manage-products-title">Manage your Sneakers catalog</h3>
  <table class="product-manage-table">
    <thead>
      <tr class="table-row">
        <th class="table-head">Sneaker Image</th>
        <th class="table-head">Sneaker Name</th>
        <th class="table-head">Sneaker Ref</th>
        <th class="table-head">Sneaker Price</th>
        <th class="table-head">Edit</th>
        <th class="table-head">Delete</th>
      </tr>
    </thead>

    <tbody>
      {{#each sneakers}}
      <tr class="table-row">
        {{> dashboard_sneaker_row}}
      </tr>
      {{/each}}
      {{#unless sneakers}}
      <tr>
        <td colspan="6">sorry no sneakers yet</td>
      </tr>
      {{/unless}}
      {{#each sneakers}}
      <tr class="table-row">
        <td>{{this.image}}</td>
        <td>{{this.name}}</td>
        <td>{{this.ref}}</td>
        <td>{{this.price}}</td>
        <td><a href="/prod-edit/{{this._id}}"><button class="button">e</button></a></td>
        <td>
          <form action="/prod-delete/{{this._id}}"><button class="button">x</button></form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>